[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
Wand = "*"
pytesseract = "*"
Pillow = "*"
tesseract-ocr = "*"

[requires]

python_version = "3.6"
gcc = "7.3"
